@page "/Perfil"
<div class="perfil-container">

    <div class="perfil">
        <div class="avatar"></div>
        <h2>Username</h2>
        <p>user@gmail.com</p>
    </div>

    <div class="likes-section">
        <hr />
        <h3 class="likes-title">Likes <span class="heart">♥</span></h3>
        <div class="cards-container">
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Receta" />
                <p>Ensalada de Salmón</p>
                <button>Ver</button>
            </div>
            <div class="card">
                <img src="https://via.placeholder.com/150" alt="Receta" />
                <p>Ensalada de pollo y aguacate</p>
                <button>Ver</button>
            </div>
        </div>
    </div>

    <div class="ingredientes-link">
        <span>📝</span> <a href="#">Lista de Ingredientes</a>
    </div>
</div>


@code {

}
